<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <EntityDiary name="Diary">
            <MarkerFilter marker="BIOGRAPHY"/>
        </EntityDiary>
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d [%t] %-5p %class{0} \n\t %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Diary"/>
        </Root>
    </Loggers>
</Configuration>